[submodule "subcharts/core"]
	path = subcharts/core
	url = https://gitlab.eng.vmware.com/nsx-allspark_users/nexus-sdk/nexus-runtime-manifests.git
	branch = master
[submodule "subcharts/api-gateway"]
	path = subcharts/api-gateway
	url = https://gitlab.eng.vmware.com/nsx-allspark_users/nexus-sdk/api-gw.git
	branch = master
[submodule "subcharts/api"]
	path = subcharts/api
	url = https://gitlab.eng.vmware.com/nsx-allspark_users/nexus-sdk/api.git
	branch = master
[submodule "subcharts/validation"]
	path = subcharts/validation
	url = https://gitlab.eng.vmware.com/nsx-allspark_users/nexus-sdk/validation.git
	branch = master
[submodule "subcharts/controller"]
	path = subcharts/controller
	url = git@gitlab.eng.vmware.com:nsx-allspark_users/nexus-sdk/controller.git
	branch = master
