compiler/**/*.coverprofile
coverage*.out
*.test

cmd/nexus-sdk/nexus-sdk
cmd/nexus-openapi-gen
compiler.tar
_generated

### GoLand ###
.idea
report.json

cmd/debug
coverage.json
report.json
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

*.iml
.vscode

compiler/*.coverprofile
compiler/coverage*.out
compiler/*.test

compiler/cmd/nexus-sdk/nexus-sdk
compiler/cmd/nexus-openapi-gen
compiler/cmd/gqlgen
compiler/compiler.tar
compiler/_generated

### GoLand ###
compiler/.idea
compiler/report.json

compiler/cmd/debug
compiler/coverage.json
compiler/report.json
compiler/cmd/validate
artifacts/
node_modules
TAG

# api datamodel build artifacts
api/build/*

# api-gw artifacts
api-gw/api-gw
api-gw/bin/*

# k0s artifacts
nexus-runtime-manifests/k0s/.kubeconfig

# playgound app directory
sock-shop-saas-app/*
