scalar Map

{{- range $key, $node := .Nodes }}
{{- if $node.IsParentNode }}
type Query {
{{- if $node.IsSingletonNode }}
    root: {{ $node.SchemaName }}{{ else }}
    root(Id: ID): [{{ $node.SchemaName }}!]{{ end }}
}
{{- else -}}
{{- end -}}
{{- if $node.IsNexusNode }}
{{ $length := len $node.GraphqlSchemaFields }}{{- if eq $length 0 }}{{- else }}
type {{ $node.SchemaName }} {
    {{- range $key, $field := $node.GraphqlSchemaFields }}
    {{- if $field.SchemaFieldName }}
    {{ $field.SchemaFieldName -}}
    {{- end}}
    {{- end }}
}
{{- end }}{{- end }}{{- end }}

type NexusGraphqlResponse {
  Code: Int
  Message: String
  Data: String
  Last: String
  TotalRecords: Int
}

type TimeSeriesData {
  Code: Int
  Message: String
  Data: String
  Last: String
  TotalRecords: Int
}

enum ExternalDNSRecordType {
    A
    AAAA
    AFSDB
    APL
    CAA
    CDNSKEY
    CDS
    CERT
    CNAME
    CSYNC
    DHCID
    DLV
    DNAME
    DNSKEY
    DS
    EUI48
    EUI64
    HINFO
    HIP
    IPSECKEY
    KEY
    KX
    LOC
    MX
    NAPTR
    NS
    NSEC
    NSEC3
    NSEC3PARAM
    OPENPGPKEY
    PTR
    RRSIG
    RP
    SIG
    SMIMEA
    SOA
    SRV
    SSHFP
    TA
    TKEY
    TLSA
    TSIG
    TXT
    URI
    ZONEMD
}

enum ServiceMetricTypeEnum {
    RequestPS
    Requests
    Latency
    p50Latency
    p90Latency
    p99Latency
    ErrorRate
    ErrorPS
    ClusterCount
    NodeCount
    ServiceCount
    ServiceInstanceCount
    Response2xx
    Response3xx
    Response4xx
    Response5xx
    SuccessRate
    CPUUsageMillicores
    MemoryUsageBytes
    RequestResponse
    DesiredInstanceCount
    TotalErrorBudget
    RemainingErrorBudget
    RemainingErrorBudgetPercentage
    IsViolated
    ViolatedSlis
}

enum SloDetailsEnum {
    TotalErrorBudget
    RemainingErrorBudget
    RemainingErrorBudgetPercentage
    IsViolated
    ViolatedSlis
    SloSummary
    SloStatus
    GnsSloStatus
    BurnRate
    SloPerformanceTable
}

enum NodeMetricTypeEnum {
    CPUCapacity
    CPUUsage
    DiskCapacity
    DiskUsages
    DiskIO
    DiskWait
    MemoryCapacity
    MemoryUsages
    MemoryUsagesBytes
    IOWait
    NetworkIO
    ServiceCount
    ServiceInstanceCount
}

enum ServiceGroupByEnum {
    serviceversions
}

enum AnalyticsMetricEnum {
    Endpoint
    PII
    Compliance
    Error
    Attack
    Event
    Geo
    User
    EgressDomain
    GlobalNamespace
    ResponseCode
    Workload
    Service
    RequestRate
    RequestSize
    ResponseSize
    Latency
    ConnectionDuration
    ConnectionRate
    BytesSent
    BytesReceived
    GeoWithPII
    GeoUnderAttack
    AuthError
}

enum AnalyticsSubMetricEnum {
    RequestRate
    RequestSize
    ResponseSize
    Latency
    ConnectionDuration
    ConnectionRate
    BytesSent
    BytesReceived
}

enum HTTPMethodEnum {
    GET
    POST
    PUT
    DELETE
    HEAD
    PATCH
}

enum EventSeverityEnum {
    Info
    Warning
    Critical
}

enum TrafficDirectionEnum {
    Ingress
    Internal
    Egress
}

enum GNSPluginState {
    IDLE
    PROCESSING
    SYNCING
    SYNCED
    ERROR
}

enum SLOKind {
    Monitored
    Actionable
}

enum OperationType {
    SERVICE
    NODE
    USER
    API
    DATA
}

enum Action {
    FEDERATE
}

enum SloPeriodFrequency {
    Unknown
    Monthly
}

enum ConfigChangeState {
    APPLIED
    INSYNC
    INERROR
}

enum ExternalServicesRTProtocols {
    HTTP
    HTTPS
    TCP
    TLS
}

enum MetricMonitorFunction {
    Aggregate # Exampe arg to this fn: {windowSeconds: 600}
    CheckThreshold # Example arg to this fn: {windowSeconds: 600, threshold: 300}
}

enum HaType {
    BASIC
}

enum LogState {
    NOT_FETCHED
    FETCHING
    COMPLETED
    FAILED
}

enum ServiceDirectoryRTFolderEntryType {
    FromGNS
    DirectAdd
}

directive @jsonencoded(file: String, gofile: String, name: String) on FIELD_DEFINITION
directive @relation(name: String, parameters: String, softlink: String, uuidkey: String) on FIELD_DEFINITION
directive @timeseriesAPI(file: String!, handler: String!) on FIELD_DEFINITION
directive @protobuf(file: String!, name: String!) on FIELD_DEFINITION
