{{ range $key, $node := .Nodes }}
{{ if $node.IsParentNode }}type Query {
    root: {{ $node.SchemaName }}
}{{ else }}{{ end }}
type {{ $node.SchemaName }} {
{{ range $key, $field := $node.GraphqlSchemaFields }}
    {{ $field.SchemaFieldName}}{{ end }}
}
{{ end }}