package main

import (
	"{{.BaseImportPath}}nexus-gql/graph"
	"{{.BaseImportPath}}nexus-gql/graph/generated"
	"gitlab.eng.vmware.com/nsx-allspark_users/nexus-sdk/gqlgen.git/graphql"
)

var ES graphql.ExecutableSchema

func NewResolverObject() {
	ES = generated.NewExecutableSchema(generated.Config{Resolvers: &graph.Resolver{}})
}
